@charset "UTF-8";
* {  
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}


#container {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(247, 254, 255, 0.369)
}

header {
    width: 100%;
}
    #h-top {
        border-bottom: 1px solid #eee;
        width: 100%;
        height: 40px;
    }
        #h-top1 {
            width: 100%;
            max-width: 1260px;
            margin: 0 auto;
        }
                #top-nv{
                    float: right;
                }
                #top-nv .topNv-li {
                    display: inline-block; 
                    }
                #top-nv .topNv-li {
                    position: relative;
                }
                #top-nv > .topNv-li > a {
                    height: 40px;
                    line-height: 40px;
                    padding: 0 10px;
                    font-size: 14px;
                    color: #777;
                }
        

    #h-bottom {
        position: relative;
        width: 100%;
    }
        #h-b-inner {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 1260px;
            /* min-width: 1024px; */
            height: 150px;
            margin: 0 auto;
        }  
            #logo {
                position: relative;
                left: 0;
                /* width: 380px;
                height: 150px; */
                /* top: 21px; */
                --margin: 0 auto;
            }
            #search {
                position: relative;
                width: 300px;
                padding-left: 30px;
            }
                fieldset {
                    border: 2px solid rgba(161, 213, 248, .8);
                    border-radius: 20px;
                    position: relative; 
                    overflow: hidden;
                }

                legend {
                    position: absolute;
                    font-size: 0;
                }
                    #searchBar {
                        text-indent: 10px;
                        width: 85%;
                        height: 30px;
                        border: 0;
                        font-size: 13px;
                    }
                    #searchIcon {
                        position: absolute;
                        left: 260px;
                        overflow: hidden;
                    }
            #icon {
                margin-left: 50px;
                flex: 1 0 auto;
            }
                #iconImages {
                    display: flex;
                    height: 120px;
                    justify-content: flex-end;
                    align-items: center;
                    
                }
                    #iconImages > .iconImages-li {
                        margin-right: 5px;
                    }
                    #iconImages > .iconImages-li > a {
                        display: inline-block;
                        width: 52px;
                        height: 52px;
                        background-size: cover;
                        color: #333;
                        margin-left: 20px;
                    }

        #h-b-2 {
            position: relative;
            width: 100%;
            height: 50px;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }
            #h-b-inner2 {
                position: relative;
                width: 100%;
                max-width: 1260px;
                margin: 0 auto;
            }
                #go {
                    display: block;
                }
                    #go p {
                        position: relative;
                        float: left;
                        width: 50px;
                        height: 50px;
                        border-left: 1px solid #ddd;
                        border-right: 1px solid #ddd;
                        text-align: center;
                    }
                #nav {
                    float: left;
                    display: block;
                    height: 50px;
                    margin-left: 10px;
                    position: relative;
                }
                    #nav-nv {
                        position: relative;
                    }
                    #nav-nv .nav-li {
                        display: inline-block;
                        position: relative;
                    }
                    #nav li {
                        text-align: center;
                        padding: 0 12px;
                    }
                    #nav #nav-nv .nav-li > a {
                        line-height: 50px;
                        padding: 0 12px;
                        font-weight: bold;
                        font-size: 15px;
                    }
#main {
    position: relative;
}
    #hype {
        position: relative;
        max-height: 850px;
        width: 100%;
        display: block;
        margin: 0 0 180px;
    }
        #hype1 {
            width: 100%;
            height: 600px;
        }
        #hype1 a {
            display: block;
            width: 100%;
            height: 600px;
            background-size: cover;
        }
            #buttonDiv {
                position: absolute;
                top: 40%;
                left: 15%;
                width: 70%;
            }
                #leftButton {
                    position: absolute;
                    width: 64px;
                    height: 70px;
                    background-image: url(/resources/image/index/leftButton.png);
                    background-repeat: no-repeat ;
                    background-color: rgba(0, 0, 0, .05);
                    border: none;
                    cursor: pointer;
                }
                #rightButton {
                    position: absolute;
                    width: 64px;
                    height: 70px;
                    right: -1px;
                    background-image: url(/resources/image/index/rightButton.png);
                    background-repeat: no-repeat ;
                    background-color: rgba(0, 0, 0, .05);
                    border: none;
                    cursor: pointer;
                }
    .mainContent {
        position: relative;
        width: 100%;
        max-width: 1260px;
        margin: 0 auto 130px;
    }
        .mainContent > h2 {
            display: inline-block;
            position: relative;
            color: #333;
            text-align: center;
            border-bottom: 1px dotted #63d6ff;
            padding: 10px;
            margin: 0 auto 40px;
            min-width: 20%;
            left: 36%;
            font-size: 30px;
        }
        .list {
            position: relative;
        }
            .listInfor {
                display: inline-block;
                position: relative;               
                width: 23%;
                margin: 5px 0px 50px;
            }
                .thumbnail {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    margin: 0 0 10px;
                    outline: 1px solid #ccc;
                }
                    .thumbnail a img {
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                        border: none;
                    }
                .infor {
                    display: block;
                    position: relative;
                }
                    .name {
                        display: block;
                        margin: 0 0 10px 5px;
                        padding-bottom: 10px;
                        font-weight: bold;
                        font-size: 14px;
                        word-break: break-all;
                        border-bottom: 1px solid #ccc;
                    }
                    .price {
                        position: relative;
                    }
                        .price > li {
                            margin: 0 0 5px 5px;
                            line-height: 17px;
                        }
                            .making {
                                font-size: 13px;
                                color: #666;
                            }
                            .cost {
                                font-size: 13px;
                                color: #999;
                                text-decoration: line-through;
                            }
                            .sale {
                                color: #6eb6ff;
                            }
                            .review {
                                font-weight: normal;
                                font-size: 13px;
                                color: #333;
                                display: inline-block;
                                /* margin-right: 3px; */
                            }
                            .number {
                                color: #333;
                                font-size: 13px;
                            }

footer {
    position: relative;
    border-top: 2px solid #e0f4fb;
    
}
    #footerContainer {
        width: 100%;
        max-width: 1260px;
        margin: 0 auto;
    }
    #footerContainer ul li{
        font-size: 13px;
        line-height: 20px;
    }
        #footerMenu {
            display: block;
            padding: 10px 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #e6e6e6;
        }
        #footerMenu li {
            display: inline-block;
            padding: 0 15px;
            border-left: 1px solid #e6e6e6;
        }
        #footerMenu li:first-child {
            border-left: 0;
            padding-left: 0;
        }