<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ItemMapper">
	<resultMap type="kr.co.funnyjoy.item.model.vo.Item" id="itemResultMap">
		<id property="itemNo" column="ITEM_NO" />
		<result property="itemName" column="ITEM_NAME" />
		<result property="itemImageName" column="ITEM_IMAGE_NAME"/>
		<result property="itemImagePath" column="ITEM_IMAGE_PATH"/>
		<result property="itemPublisher" column="ITEM_PUBLISHER"/>
		<result property="itemPrice" column="ITEM_PRICE"/>
		<result property="reviewCount" column="REVIEW_COUNT"/>
	</resultMap>
	
	<insert id="insertItem">
		insert into item_tbl values(#{itemName}, #{itemImageName}, #{itemImagePath}, #{itemPublisher}, #{itemPrice})
	</insert>
	
	<select id="selectItemList" resultMap="itemResultMap">
		SELECT * FROM ITEM_TBL
	</select>
	
	<select id="getTotalCount" resultType="_int">
	<!-- 가져올 타입을 '_타입' 이렇게 적어야 함. 하나 가져올 때 쓰는 듯  -->
		SELECT COUNT(*) FROM ITEM_TBL
	</select>
</mapper>